.row {
    height: 40px;
}

.tile {
    display: inline-flex;
    margin-top: 0;
    background-color: green;
}

.grass {
    background-color: green;
}

.rock {
    background-image: url('./tiles/rock.png');
}

.tree {
    background-image: url('./tiles/tree.png');
}